
      - name: {{ os }}-{{ version }}
        shell: pwsh
        run: |
          $InformationPreference = 'Continue'
          New-Alias grep findstr
          $ENV:CT_DOWNLOAD_RELEASE_ID = Get-Content .\artifacts\release-id -Raw
          $ENV:CT_DOWNLOAD_VERSION = Get-Content .\artifacts\release-version -Raw
          Write-Host "ENV:CT_DOWNLOAD_AUTH_TOKEN = $ENV:CT_DOWNLOAD_AUTH_TOKEN"
          Write-Host "ENV:CT_DOWNLOAD_RELEASE_ID = $ENV:CT_DOWNLOAD_RELEASE_ID"
          Write-Host "ENV:CT_DOWNLOAD_VERSION = $ENV:CT_DOWNLOAD_VERSION"
          $ctExe = .\install.ps1 -authToken "$ENV:CT_DOWNLOAD_AUTH_TOKEN" -releaseId "$ENV:CT_DOWNLOAD_RELEASE_ID" -version "$ENV:CT_DOWNLOAD_VERSION"
          & $ctExe --project "$ENV:CT_TEST_PROJECT" parameters list -v | grep "$ENV:CT_TEST_PARAM" | grep "$ENV:CT_TEST_VALUE"

