      - name: {{ os }}-{{ version }}
        shell: pwsh
        run: |
          $curr_dir = pwd
          $ENV:CT_DOWNLOAD_URL = "file://$curr_dir/artifacts"
          $ENV:CT_DOWNLOAD_VERSION = Get-Content .\artifacts\release-version -Raw
          .\install.ps1 -url "$ENV:CT_DOWNLOAD_URL" -version "$ENV:CT_DOWNLOAD_VERSION"
          New-Alias grep findstr
          & "$ENV:TEMP\cloudtruth.exe" --project "$ENV:CT_TEST_PROJECT" parameters list -v | grep "$ENV:CT_TEST_PARAM" | grep "$ENV:CT_TEST_VALUE"

