# Build Artifacts
/target
/client/docs
generator.log

# Installing Python libraries
/tests/pytest/__pycache__
/__pycache__

# Eclipse settings stuff
.project

# PyCharm stuff
.idea/

# VSCode stuff
.vscode/
