
      - name: {{ os }}-{{ version }}
        run: |
          OUT_LOG='{{ os }}-{{ version }}-output.txt'
          docker build . \
            --build-arg DOWNLOAD_AUTH_TOKEN="${CT_DOWNLOAD_AUTH_TOKEN}" \
            --build-arg DOWNLOAD_RELEASE_ID="${CT_DOWNLOAD_RELEASE_ID}" \
            --build-arg DOWNLOAD_VERSION="${CT_DOWNLOAD_VERSION}" \
             -f ci/docker/test-release/Dockerfile.{{ os }}-{{ version }} \
             -t cloudtruth:{{ os }}-{{ version }}
          docker run --rm \
            -i --log-driver=none -a stdout -a stderr \
            -e CLOUDTRUTH_API_KEY \
            ${CLOUDTRUTH_SERVER_URL:+ -e CLOUDTRUTH_SERVER_URL} \
            -v $(pwd):/truth \
            cloudtruth:{{ os }}-{{ version }} \
            cloudtruth --project ${CT_TEST_PROJECT} parameters list -v \
          | tee "$OUT_LOG"
          cat "$OUT_LOG" | grep "${CT_TEST_PARAM}" | grep "${CT_TEST_VALUE}"
