
      - name: {{ os }}-{{ version }}
        run: |
          docker build . \
            --build-arg DOWNLOAD_VERSION="${CT_VERSION}" \
             -f tests/docker/prerelease/Dockerfile.{{ os }}-{{ version }} \
             -t cloudtruth:{{ os }}-{{ version }}
          docker run -e CLOUDTRUTH_API_KEY --rm -v $(pwd):/truth -t cloudtruth:{{ os }}-{{ version }} cloudtruth --project ${CT_TEST_PROJECT} parameters list -v | grep ${CT_TEST_PARAM} | grep ${CT_TEST_VALUE}

