
      - name: Set Windows CT_VERSION variable
        id: win_ct_ver
        run: |
            echo ::set-output name=ct_version::"${ENV:GITHUB_REF}".TrimStart("refs/tags/")

      - name: windows-latest
        shell: pwsh
        env:
          CT_VERSION: {{ '${{ steps.win_ct_ver.output.ct_version }}' }}
        run: |
          $InformationPreference = 'Continue'
          New-Alias grep findstr
          $ctExe = .\install.ps1 -version "$ENV:CT_VERSION"
          & $ctExe --project "$ENV:CT_TEST_PROJECT" parameters list -v | grep "$ENV:CT_TEST_PARAM" | grep "$ENV:CT_TEST_VALUE"

